
body {
	margin: 0; /*remove body margin*/
	font-size: 0; /*remove whitespace after inline-block*/

	background-color: cadetblue;

	position: relative;

	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

label {
	width: 20%;
	height: 20%;

	display: inline-block;
	box-sizing: border-box;

	border: 5px solid cadetblue;
	border-width: 0.5vmin;

	cursor: pointer;
}

input {
	display: none;
}

.board {
	width: 100%;
	height: 100%;
	width: 100vmin; /*make it square*/
	height: 100vmin; /*make it square*/

	background-color: inherit;

	box-sizing: border-box;
	padding: 5px; /*make outside border match inner border*/
	padding: 0.5vmin;
}

.winner {
	display: none;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: black;
	font-size: 50px;
	font-size: 5vh;
	color: white;

	text-align: center;
	justify-content: center;
	align-items: center;
}

/*the encoded solutions*/
/*there are exactly four winning scenarios for any solvable 5×5 problem*/
/*https://en.wikipedia.org/wiki/Lights_Out_(game)*/
/*https://www.geogebra.org/m/JexnDJpt#material/RmRUx8Yd*/

#c01:checked ~
#c02:not(:checked) ~
#c03:not(:checked) ~
#c04:checked ~
#c05:not(:checked) ~
#c06:not(:checked) ~
#c07:not(:checked) ~
#c08:not(:checked) ~
#c09:checked ~
#c10:checked ~
#c11:checked ~
#c12:not(:checked) ~
#c13:checked ~
#c14:not(:checked) ~
#c15:checked ~
#c16:checked ~
#c17:checked ~
#c18:checked ~
#c19:not(:checked) ~
#c20:not(:checked) ~
#c21:checked ~
#c22:checked ~
#c23:checked ~
#c24:not(:checked) ~
#c25:not(:checked) ~
.winner,
#c01:checked ~
#c02:checked ~
#c03:checked ~
#c04:not(:checked) ~
#c05:not(:checked) ~
#c06:checked ~
#c07:not(:checked) ~
#c08:checked ~
#c09:checked ~
#c10:not(:checked) ~
#c11:not(:checked) ~
#c12:checked ~
#c13:checked ~
#c14:checked ~
#c15:not(:checked) ~
#c16:not(:checked) ~
#c17:checked ~
#c18:not(:checked) ~
#c19:not(:checked) ~
#c20:checked ~
#c21:checked ~
#c22:not(:checked) ~
#c23:not(:checked) ~
#c24:checked ~
#c25:not(:checked) ~
.winner,
#c01:not(:checked) ~
#c02:checked ~
#c03:not(:checked) ~
#c04:not(:checked) ~
#c05:checked ~
#c06:not(:checked) ~
#c07:not(:checked) ~
#c08:not(:checked) ~
#c09:checked ~
#c10:checked ~
#c11:not(:checked) ~
#c12:checked ~
#c13:checked ~
#c14:checked ~
#c15:not(:checked) ~
#c16:checked ~
#c17:checked ~
#c18:checked ~
#c19:not(:checked) ~
#c20:not(:checked) ~
#c21:not(:checked) ~
#c22:not(:checked) ~
#c23:checked ~
#c24:checked ~
#c25:checked ~
.winner,
#c01:not(:checked) ~
#c02:not(:checked) ~
#c03:checked ~
#c04:checked ~
#c05:checked ~
#c06:checked ~
#c07:not(:checked) ~
#c08:checked ~
#c09:checked ~
#c10:not(:checked) ~
#c11:checked ~
#c12:not(:checked) ~
#c13:checked ~
#c14:not(:checked) ~
#c15:checked ~
#c16:not(:checked) ~
#c17:checked ~
#c18:not(:checked) ~
#c19:not(:checked) ~
#c20:checked ~
#c21:not(:checked) ~
#c22:checked ~
#c23:not(:checked) ~
#c24:not(:checked) ~
#c25:checked ~
.winner {
	display: block;
	display: flex;
}

/*selectors which determine square color from internal state*/

.board > #s01,
.a01:checked ~ .a01:checked ~ .board > #s01,
.a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ .board > #s01,
.a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ .board > #s01,
.board > #s02,
.a02:checked ~ .a02:checked ~ .board > #s02,
.a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ .board > #s02,
.a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ .board > #s02,
.board > #s03,
.a03:checked ~ .a03:checked ~ .board > #s03,
.a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ .board > #s03,
.a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ .board > #s03,
.board > #s04,
.a04:checked ~ .a04:checked ~ .board > #s04,
.a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ .board > #s04,
.a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ .board > #s04,
.board > #s05,
.a05:checked ~ .a05:checked ~ .board > #s05,
.a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ .board > #s05,
.a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ .board > #s05,
.board > #s06,
.a06:checked ~ .a06:checked ~ .board > #s06,
.a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ .board > #s06,
.a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ .board > #s06,
.board > #s07,
.a07:checked ~ .a07:checked ~ .board > #s07,
.a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ .board > #s07,
.a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ .board > #s07,
.board > #s08,
.a08:checked ~ .a08:checked ~ .board > #s08,
.a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ .board > #s08,
.a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ .board > #s08,
.board > #s09,
.a09:checked ~ .a09:checked ~ .board > #s09,
.a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ .board > #s09,
.a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ .board > #s09,
.board > #s10,
.a10:checked ~ .a10:checked ~ .board > #s10,
.a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ .board > #s10,
.a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ .board > #s10,
.board > #s11,
.a11:checked ~ .a11:checked ~ .board > #s11,
.a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ .board > #s11,
.a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ .board > #s11,
.board > #s12,
.a12:checked ~ .a12:checked ~ .board > #s12,
.a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ .board > #s12,
.a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ .board > #s12,
.board > #s13,
.a13:checked ~ .a13:checked ~ .board > #s13,
.a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ .board > #s13,
.a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ .board > #s13,
.board > #s14,
.a14:checked ~ .a14:checked ~ .board > #s14,
.a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ .board > #s14,
.a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ .board > #s14,
.board > #s15,
.a15:checked ~ .a15:checked ~ .board > #s15,
.a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ .board > #s15,
.a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ .board > #s15,
.board > #s16,
.a16:checked ~ .a16:checked ~ .board > #s16,
.a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ .board > #s16,
.a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ .board > #s16,
.board > #s17,
.a17:checked ~ .a17:checked ~ .board > #s17,
.a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ .board > #s17,
.a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ .board > #s17,
.board > #s18,
.a18:checked ~ .a18:checked ~ .board > #s18,
.a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ .board > #s18,
.a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ .board > #s18,
.board > #s19,
.a19:checked ~ .a19:checked ~ .board > #s19,
.a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ .board > #s19,
.a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ .board > #s19,
.board > #s20,
.a20:checked ~ .a20:checked ~ .board > #s20,
.a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ .board > #s20,
.a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ .board > #s20,
.board > #s21,
.a21:checked ~ .a21:checked ~ .board > #s21,
.a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ .board > #s21,
.a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ .board > #s21,
.board > #s22,
.a22:checked ~ .a22:checked ~ .board > #s22,
.a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ .board > #s22,
.a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ .board > #s22,
.board > #s23,
.a23:checked ~ .a23:checked ~ .board > #s23,
.a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ .board > #s23,
.a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ .board > #s23,
.board > #s24,
.a24:checked ~ .a24:checked ~ .board > #s24,
.a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ .board > #s24,
.a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ .board > #s24,
.board > #s25,
.a25:checked ~ .a25:checked ~ .board > #s25,
.a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ .board > #s25,
.a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ .board > #s25
{
	background-color: black;
}

.a01:checked ~ .board > #s01,
.a01:checked ~ .a01:checked ~ .a01:checked ~ .board > #s01,
.a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ .board > #s01,
.a02:checked ~ .board > #s02,
.a02:checked ~ .a02:checked ~ .a02:checked ~ .board > #s02,
.a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ .board > #s02,
.a03:checked ~ .board > #s03,
.a03:checked ~ .a03:checked ~ .a03:checked ~ .board > #s03,
.a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ .board > #s03,
.a04:checked ~ .board > #s04,
.a04:checked ~ .a04:checked ~ .a04:checked ~ .board > #s04,
.a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ .board > #s04,
.a05:checked ~ .board > #s05,
.a05:checked ~ .a05:checked ~ .a05:checked ~ .board > #s05,
.a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ .board > #s05,
.a06:checked ~ .board > #s06,
.a06:checked ~ .a06:checked ~ .a06:checked ~ .board > #s06,
.a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ .board > #s06,
.a07:checked ~ .board > #s07,
.a07:checked ~ .a07:checked ~ .a07:checked ~ .board > #s07,
.a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ .board > #s07,
.a08:checked ~ .board > #s08,
.a08:checked ~ .a08:checked ~ .a08:checked ~ .board > #s08,
.a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ .board > #s08,
.a09:checked ~ .board > #s09,
.a09:checked ~ .a09:checked ~ .a09:checked ~ .board > #s09,
.a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ .board > #s09,
.a10:checked ~ .board > #s10,
.a10:checked ~ .a10:checked ~ .a10:checked ~ .board > #s10,
.a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ .board > #s10,
.a11:checked ~ .board > #s11,
.a11:checked ~ .a11:checked ~ .a11:checked ~ .board > #s11,
.a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ .board > #s11,
.a12:checked ~ .board > #s12,
.a12:checked ~ .a12:checked ~ .a12:checked ~ .board > #s12,
.a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ .board > #s12,
.a13:checked ~ .board > #s13,
.a13:checked ~ .a13:checked ~ .a13:checked ~ .board > #s13,
.a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ .board > #s13,
.a14:checked ~ .board > #s14,
.a14:checked ~ .a14:checked ~ .a14:checked ~ .board > #s14,
.a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ .board > #s14,
.a15:checked ~ .board > #s15,
.a15:checked ~ .a15:checked ~ .a15:checked ~ .board > #s15,
.a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ .board > #s15,
.a16:checked ~ .board > #s16,
.a16:checked ~ .a16:checked ~ .a16:checked ~ .board > #s16,
.a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ .board > #s16,
.a17:checked ~ .board > #s17,
.a17:checked ~ .a17:checked ~ .a17:checked ~ .board > #s17,
.a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ .board > #s17,
.a18:checked ~ .board > #s18,
.a18:checked ~ .a18:checked ~ .a18:checked ~ .board > #s18,
.a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ .board > #s18,
.a19:checked ~ .board > #s19,
.a19:checked ~ .a19:checked ~ .a19:checked ~ .board > #s19,
.a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ .board > #s19,
.a20:checked ~ .board > #s20,
.a20:checked ~ .a20:checked ~ .a20:checked ~ .board > #s20,
.a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ .board > #s20,
.a21:checked ~ .board > #s21,
.a21:checked ~ .a21:checked ~ .a21:checked ~ .board > #s21,
.a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ .board > #s21,
.a22:checked ~ .board > #s22,
.a22:checked ~ .a22:checked ~ .a22:checked ~ .board > #s22,
.a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ .board > #s22,
.a23:checked ~ .board > #s23,
.a23:checked ~ .a23:checked ~ .a23:checked ~ .board > #s23,
.a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ .board > #s23,
.a24:checked ~ .board > #s24,
.a24:checked ~ .a24:checked ~ .a24:checked ~ .board > #s24,
.a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ .board > #s24,
.a25:checked ~ .board > #s25,
.a25:checked ~ .a25:checked ~ .a25:checked ~ .board > #s25,
.a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ .board > #s25
{
	background-color: blue;
}
