
body {
	margin: 0; /*remove body margin*/
	font-size: 0; /*remove whitespace after inline-block*/

	padding: 5px; /*make outside border match inner border*/
	box-sizing: border-box;
	background-color: cadetblue;

	position: relative;
}

label {
	width: 20%;
	height: 20%;

	display: inline-block;
	box-sizing: border-box;

	border: 5px solid cadetblue;

	cursor: pointer;
}

input {
	display: none;
}

.winner {
	display: none;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: black;
	font-size: 50px;
	font-size: 5vh;
	color: white;

	text-align: center;
	justify-content: center;
	align-items: center;
}

/*the encoded solutions*/
/*there are exactly four winning scenarios for any solvable 5×5 problem*/
/*https://en.wikipedia.org/wiki/Lights_Out_(game)*/
/*https://www.geogebra.org/m/JexnDJpt#material/RmRUx8Yd*/

#c01:checked ~
#c02:not(:checked) ~
#c03:not(:checked) ~
#c04:checked ~
#c05:not(:checked) ~
#c06:not(:checked) ~
#c07:not(:checked) ~
#c08:not(:checked) ~
#c09:checked ~
#c10:checked ~
#c11:checked ~
#c12:not(:checked) ~
#c13:checked ~
#c14:not(:checked) ~
#c15:checked ~
#c16:checked ~
#c17:checked ~
#c18:checked ~
#c19:not(:checked) ~
#c20:not(:checked) ~
#c21:checked ~
#c22:checked ~
#c23:checked ~
#c24:not(:checked) ~
#c25:not(:checked) ~
.winner,
#c01:checked ~
#c02:checked ~
#c03:checked ~
#c04:not(:checked) ~
#c05:not(:checked) ~
#c06:checked ~
#c07:not(:checked) ~
#c08:checked ~
#c09:checked ~
#c10:not(:checked) ~
#c11:not(:checked) ~
#c12:checked ~
#c13:checked ~
#c14:checked ~
#c15:not(:checked) ~
#c16:not(:checked) ~
#c17:checked ~
#c18:not(:checked) ~
#c19:not(:checked) ~
#c20:checked ~
#c21:checked ~
#c22:not(:checked) ~
#c23:not(:checked) ~
#c24:checked ~
#c25:not(:checked) ~
.winner,
#c01:not(:checked) ~
#c02:checked ~
#c03:not(:checked) ~
#c04:not(:checked) ~
#c05:checked ~
#c06:not(:checked) ~
#c07:not(:checked) ~
#c08:not(:checked) ~
#c09:checked ~
#c10:checked ~
#c11:not(:checked) ~
#c12:checked ~
#c13:checked ~
#c14:checked ~
#c15:not(:checked) ~
#c16:checked ~
#c17:checked ~
#c18:checked ~
#c19:not(:checked) ~
#c20:not(:checked) ~
#c21:not(:checked) ~
#c22:not(:checked) ~
#c23:checked ~
#c24:checked ~
#c25:checked ~
.winner,
#c01:not(:checked) ~
#c02:not(:checked) ~
#c03:checked ~
#c04:checked ~
#c05:checked ~
#c06:checked ~
#c07:not(:checked) ~
#c08:checked ~
#c09:checked ~
#c10:not(:checked) ~
#c11:checked ~
#c12:not(:checked) ~
#c13:checked ~
#c14:not(:checked) ~
#c15:checked ~
#c16:not(:checked) ~
#c17:checked ~
#c18:not(:checked) ~
#c19:not(:checked) ~
#c20:checked ~
#c21:not(:checked) ~
#c22:checked ~
#c23:not(:checked) ~
#c24:not(:checked) ~
#c25:checked ~
.winner {
	display: block;
	display: flex;
}

/*selectors which determine square color from internal state*/

#s01,
.a01:checked ~ .a01:checked ~ #s01,
.a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ #s01,
.a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ #s01,
#s02,
.a02:checked ~ .a02:checked ~ #s02,
.a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ #s02,
.a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ #s02,
#s03,
.a03:checked ~ .a03:checked ~ #s03,
.a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ #s03,
.a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ #s03,
#s04,
.a04:checked ~ .a04:checked ~ #s04,
.a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ #s04,
.a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ #s04,
#s05,
.a05:checked ~ .a05:checked ~ #s05,
.a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ #s05,
.a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ #s05,
#s06,
.a06:checked ~ .a06:checked ~ #s06,
.a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ #s06,
.a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ #s06,
#s07,
.a07:checked ~ .a07:checked ~ #s07,
.a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ #s07,
.a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ #s07,
#s08,
.a08:checked ~ .a08:checked ~ #s08,
.a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ #s08,
.a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ #s08,
#s09,
.a09:checked ~ .a09:checked ~ #s09,
.a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ #s09,
.a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ #s09,
#s10,
.a10:checked ~ .a10:checked ~ #s10,
.a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ #s10,
.a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ #s10,
#s11,
.a11:checked ~ .a11:checked ~ #s11,
.a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ #s11,
.a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ #s11,
#s12,
.a12:checked ~ .a12:checked ~ #s12,
.a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ #s12,
.a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ #s12,
#s13,
.a13:checked ~ .a13:checked ~ #s13,
.a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ #s13,
.a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ #s13,
#s14,
.a14:checked ~ .a14:checked ~ #s14,
.a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ #s14,
.a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ #s14,
#s15,
.a15:checked ~ .a15:checked ~ #s15,
.a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ #s15,
.a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ #s15,
#s16,
.a16:checked ~ .a16:checked ~ #s16,
.a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ #s16,
.a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ #s16,
#s17,
.a17:checked ~ .a17:checked ~ #s17,
.a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ #s17,
.a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ #s17,
#s18,
.a18:checked ~ .a18:checked ~ #s18,
.a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ #s18,
.a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ #s18,
#s19,
.a19:checked ~ .a19:checked ~ #s19,
.a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ #s19,
.a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ #s19,
#s20,
.a20:checked ~ .a20:checked ~ #s20,
.a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ #s20,
.a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ #s20,
#s21,
.a21:checked ~ .a21:checked ~ #s21,
.a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ #s21,
.a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ #s21,
#s22,
.a22:checked ~ .a22:checked ~ #s22,
.a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ #s22,
.a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ #s22,
#s23,
.a23:checked ~ .a23:checked ~ #s23,
.a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ #s23,
.a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ #s23,
#s24,
.a24:checked ~ .a24:checked ~ #s24,
.a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ #s24,
.a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ #s24,
#s25,
.a25:checked ~ .a25:checked ~ #s25,
.a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ #s25,
.a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ #s25
{
	background-color: black;
}

.a01:checked ~ #s01,
.a01:checked ~ .a01:checked ~ .a01:checked ~ #s01,
.a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ .a01:checked ~ #s01,
.a02:checked ~ #s02,
.a02:checked ~ .a02:checked ~ .a02:checked ~ #s02,
.a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ .a02:checked ~ #s02,
.a03:checked ~ #s03,
.a03:checked ~ .a03:checked ~ .a03:checked ~ #s03,
.a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ .a03:checked ~ #s03,
.a04:checked ~ #s04,
.a04:checked ~ .a04:checked ~ .a04:checked ~ #s04,
.a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ .a04:checked ~ #s04,
.a05:checked ~ #s05,
.a05:checked ~ .a05:checked ~ .a05:checked ~ #s05,
.a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ .a05:checked ~ #s05,
.a06:checked ~ #s06,
.a06:checked ~ .a06:checked ~ .a06:checked ~ #s06,
.a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ .a06:checked ~ #s06,
.a07:checked ~ #s07,
.a07:checked ~ .a07:checked ~ .a07:checked ~ #s07,
.a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ .a07:checked ~ #s07,
.a08:checked ~ #s08,
.a08:checked ~ .a08:checked ~ .a08:checked ~ #s08,
.a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ .a08:checked ~ #s08,
.a09:checked ~ #s09,
.a09:checked ~ .a09:checked ~ .a09:checked ~ #s09,
.a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ .a09:checked ~ #s09,
.a10:checked ~ #s10,
.a10:checked ~ .a10:checked ~ .a10:checked ~ #s10,
.a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ .a10:checked ~ #s10,
.a11:checked ~ #s11,
.a11:checked ~ .a11:checked ~ .a11:checked ~ #s11,
.a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ .a11:checked ~ #s11,
.a12:checked ~ #s12,
.a12:checked ~ .a12:checked ~ .a12:checked ~ #s12,
.a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ .a12:checked ~ #s12,
.a13:checked ~ #s13,
.a13:checked ~ .a13:checked ~ .a13:checked ~ #s13,
.a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ .a13:checked ~ #s13,
.a14:checked ~ #s14,
.a14:checked ~ .a14:checked ~ .a14:checked ~ #s14,
.a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ .a14:checked ~ #s14,
.a15:checked ~ #s15,
.a15:checked ~ .a15:checked ~ .a15:checked ~ #s15,
.a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ .a15:checked ~ #s15,
.a16:checked ~ #s16,
.a16:checked ~ .a16:checked ~ .a16:checked ~ #s16,
.a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ .a16:checked ~ #s16,
.a17:checked ~ #s17,
.a17:checked ~ .a17:checked ~ .a17:checked ~ #s17,
.a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ .a17:checked ~ #s17,
.a18:checked ~ #s18,
.a18:checked ~ .a18:checked ~ .a18:checked ~ #s18,
.a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ .a18:checked ~ #s18,
.a19:checked ~ #s19,
.a19:checked ~ .a19:checked ~ .a19:checked ~ #s19,
.a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ .a19:checked ~ #s19,
.a20:checked ~ #s20,
.a20:checked ~ .a20:checked ~ .a20:checked ~ #s20,
.a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ .a20:checked ~ #s20,
.a21:checked ~ #s21,
.a21:checked ~ .a21:checked ~ .a21:checked ~ #s21,
.a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ .a21:checked ~ #s21,
.a22:checked ~ #s22,
.a22:checked ~ .a22:checked ~ .a22:checked ~ #s22,
.a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ .a22:checked ~ #s22,
.a23:checked ~ #s23,
.a23:checked ~ .a23:checked ~ .a23:checked ~ #s23,
.a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ .a23:checked ~ #s23,
.a24:checked ~ #s24,
.a24:checked ~ .a24:checked ~ .a24:checked ~ #s24,
.a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ .a24:checked ~ #s24,
.a25:checked ~ #s25,
.a25:checked ~ .a25:checked ~ .a25:checked ~ #s25,
.a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ .a25:checked ~ #s25
{
	background-color: blue;
}
