
.launching-pad {

	height: 100%;
	width: 100%;

	background-color: #adcdce;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.navigation-row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
