
.navbar {

	width: 100%;
	background-color: lightgrey;

	font-size: 1em;

	display: flex;

	.navlink {
		flex-grow: 1;
		flex-shrink: 0;
	}

	.navlink {
		border: 1px solid black;
	}

	.navlink:not(:last-child){
		border-right-width: 0;
	}
}
