
.experiments {

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;

	position: relative;

	.primary-content {
		height: 100%;

		flex-grow: 1;
		flex-shrink: 1;
	}

	.experiments-home {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.new-block-formatting-context {
		width: 100%;
		height: 100%;
		position: absolute;
	}

}
