
.experiments {

	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: row;

	position: relative;

	.primary-content {
		height: 100%;

		flex-grow: 1;
		flex-shrink: 1;

		background-color: aliceblue;
	}

}
