.landing-pad {

	height: 100%;
	width: 100%;

	.slice {
		width: 100%;
		height: calc(100%/3);
	}

	.align-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.chevron-down {
		position: relative;
		top: 0px;

		transition-property: top;
		transition-duration: 0.7s;

		&:hover, &:active {
			top: 20px;
		}
	}

	.name-expander {
		font-size: 3em;
		font-family: monospace, monospace;

		span {
			vertical-align: middle;
		}

		.text-expand {
			display: inline-block;
			overflow: hidden;

			animation-name: textExpand;
			animation-duration: 1.25s;
			animation-delay: 1s;
			animation-timing-function: ease-in-out;
			animation-fill-mode: both;
		}
	}
}

@keyframes textExpand {
	0% {width: 0; margin-left: 0;}
	25% {width: 0; margin-left: -15px;}
	45% {margin-left: 0;}
	100% {width: 7ch;}
}
