.parallax {

	.slider {
		height: 250vh;
	}

	.slider > * {
		position: sticky;
		top: 0;
	}

	.panel {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.panel1 {
		background: red;
	}

	.panel2 {
		background: cyan;
	}

	.panel3 {
		background: blue;
	}

	.panel4 {
		background: green;
	}
}
